@import 'reset';
@import './variables/global';
@import './themes/normal';
@import './themes/dark';

#root {
  background-color: var(--bg-color);
}

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

}

.page-wrapper {
  display: flex;

}

.page-component-wrapper {
  width: 100%;
  padding: 5px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
}

@media (min-width: 320px) {
  .page-component-wrapper {
    padding: 10px;
  }
}

@media (min-width: 640px) {
  .page-component-wrapper {
    padding: 20px;
  }
}

.error {
  font-size: 24px;
  color: var(--error-color);
}


@media (min-width: 1024px) {
  .page-component-wrapper {
    padding: 40px;
  }
}


*::-webkit-scrollbar {
  width: 8px;
  height: 5px;

}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary-color);
}

