.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  background-color: var(--bg-color);
  color: var(--text-color);
}

.labelWrapper {
  display: flex;
  align-items: center;
}
