@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --font-family-main: Consolas, sans-serif,
  'Press Start 2P', cursive;;

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-5: 5;
  --z-index-10: 10;
  --z-index-20: 20;
  --z-index-50: 50;
  --z-index-100: 100;


  --navbar-height: 50px;
  --sidebar-open-width: 200px;
  --sidebar-close-width: 80px;

  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
}
