.types {
    display: flex;
    overflow-y: auto;
}

.type {
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: min-content;
    white-space: nowrap;
    height: 40px;
    background-color: var(--secondary-color);
    color: var(--bg-color);
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
    .selected {
        opacity: 0.8;
    }
}

.sortingWrapper {
    display: flex;
    justify-content:  space-between;

    .selectWrapper {
        max-width: 200px;
        width: 100%;
        select {
            width: 100%;
            outline: none;
            border: none;
            background-color: var(--secondary-color);
            color: var(--bg-color);
            cursor: pointer;

            
        }
    }
}



.inputWrapper {
    margin: 20px 0;
}


.selected {
    opacity: 0.8;
}