.types {
  display: flex;
  overflow-y: auto;
  margin-bottom: 40px;
}

.type {
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: min-content;
  white-space: nowrap;
  height: 40px;
  border: 2px solid var(--secondary-color);
  color: var(--text-color);
  cursor: pointer;
  opacity: 0.4;
  transition: opacity .3s;
}

.gridButton {
  font-size: 24px;
}


@media (min-width: 768px) {
  .type {
    &:hover {
      border: 2px solid var(--primary-color);
      opacity: 0.7;
    }
  }
}

.sortingWrapper {
  display: flex;
  justify-content: space-between;

  .selectWrapper {
    max-width: 200px;
    width: 100%;

    select {
      width: 100%;
      outline: none;
      padding: 3px;
      border-radius: 10px;
      background-color: var(--bg-color);
      border: 1px solid var(--secondary-color);
      color: var(--text-color);
      cursor: pointer;
    }
  }
}


.inputWrapper {
  margin: 20px 0;
}


.selected {
  border: 2px solid var(--primary-color);
  opacity: 1;
}
