.itemsWrapper {

    height: 150px;
    width: min-content;
    overflow-y: auto;
    border: none;
    outline: none;
    cursor: pointer;
}

.item:hover{
    background-color: var(--primary-color);
    color: var(--inverted-primary-color);
}

.articlesWrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px 0;
}

.articleTypeWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: var(--inverted-primary-color);
    transition: .3s;
}
