
  .link{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .linkIcon{
      margin-right: 10px;
      font-size: 24px;
   }
  }

  .linkTextWhenClose {
  animation-duration: .2s;
   display: none;
}