.titleWrapper {
    display: flex;
    justify-content: space-between;
}

.textArea {
   
    width: 100%;
    outline: none;
    border: none;
    padding: 5px 10px;
    resize: vertical;
    background-color: transparent;
    &:focus {
        border: none;
        outline: none;
    }
}

.linesNumber {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0 5px 10px;
}

.textAreaWrapper {
     display: flex;
     color: var(--bg-color);
    background-color: var(--inverted-secondary-color);
}