.MyArticlesPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loaderWrapper {
  width: 100%;
  height: var(--error-page-height);
  display: flex;
  justify-content: center;
  align-items: center;
}


.articleWrapper {
  width: 100%;
  margin: 15px 0;
  border: var(--secondary-color) 2px solid;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articleButtonsWrapper {
  display: flex;
  column-gap: 10px;
}
