.loaderWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articleWrapper {
  width: 100%;
  margin: 15px 0;
  border: var(--inverted-primary-color) 2px solid;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articleButtonsWrapper {
  display: flex;
  column-gap: 10px;
}
