.Comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  border: var(--secondary-color) 2px solid;
}

.commentUserAvatar {
  max-width: min-content;
}

.commentContent {
  margin-left: 10px;

  p {
    text-align: justify;
  }
}
