.ArticleForAccept {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid var(--secondary-color);
  display: flex;
  justify-content: space-between;
  
  align-items: center;
}

.articleName {
  white-space: nowrap;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;

}
