.app.dark {
  --bg-color: #121212;
  --secondary-bg-color: #1E1E1E; /* Чуть светлее основного фона */
  --text-color: #EAEAEA;
  --primary-color: #9C65E0;
  --secondary-color: #8B98A7;

  --border-color: var(--secondary-color);
  --black: #000000;
  --white: #FFFFFF;
  --accent-color: #FF8800;
  --success-color: #28A745;
  --error-color: #DC3545;
}
