.app.dark {
  --bg-color: #003B73;
  --inverted-bg-color:#BFD7ED;

  --primary-color: #10BC10;
  --secondary-color: #31ED31;
  --inverted-primary-color: #0074B7;
  --inverted-secondary-color: #60A3D9;
  --primary-red: rgb(216, 82, 82);
}