.app.dark {
  --bg-color: #273344;
  --secondary-bg-color: #525252;

  --primary-color: #39495E;
  --secondary-color: #40596F;
  --inverted-primary-color: #E7D7BA;
  --inverted-secondary-color: #E5D4B6;

  --primary-black: #000000;
  --primary-white: #FFFFFF;
  --primary-red: #FF4545;

}