:root {
  --bg-color: #BFD7ED;
  --inverted-bg-color: #003B73;

  --primary-color: #0074B7;
  --secondary-color: #60A3D9;
  --inverted-primary-color: #10BC10;
  --inverted-secondary-color: #31ED31;
  --primary-red: rgb(216, 82, 82);
}