:root {
  --bg-color: #FFFFFF;
  --secondary-bg-color: #F5F5F5;

  --primary-color: #212529;
  --secondary-color: #2C3238;
  --inverted-primary-color: #273344;
  --inverted-secondary-color: #40596F;

  --primary-black: #000000;
  --primary-white: #FFFFFF;
  --primary-red: #FF4545;

}


