:root {
  --bg-color: #F4F4F4;
  --secondary-bg-color: #E0E0E0; /* Чуть светлее основного фона */
  --text-color: #333333;
  --primary-color: #007BFF;
  --secondary-color: #6C757D;

  --border-color: var(--secondary-color);
  --black: #000000;
  --white: #FFFFFF;
  --accent-color: #FF8800;
  --success-color: #28A745;
  --error-color: #DC3545;

}



