.Notify {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  min-width: 200px;
  font-size: 20px;
  background-color: var(--bg-color);
  color: var(--inverted-primary-color);
  z-index: var(--z-index-100);
}

.notifyActive {
  animation: notifyAnim .4s forwards ease-in-out;
}


.notifyExit {
  animation: notifyAnimReverse .4s forwards ease-in-out;
}


@keyframes notifyAnim {
  0% {
    opacity: 0;
    right: -50px
  }
  80% {
    right: 30px
  }
  100% {
    opacity: 1;
    right: 20px
  }
}

@keyframes notifyAnimReverse {
  0% {
    right: 0
  }
  100% {
    right: -100%
  }
}
