.Button {
  padding: 5px 10px;
  
  height: 40px;
  color: var(--bg-color);
  border: none;
  outline: none;
  background-color: var(--primary-color);

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.clear {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--primary-color);
}

.outline {
  background-color: transparent;
  color: var(--inverted-bg-color);
  border: 2px solid var(--primary-color);
}

.outline_inverted {
    background-color: transparent;
    border: 2px solid var(--inverted-primary-color);
  }
 .outline_red {
    background-color: transparent;
    color: var(--primary-red);
    border: 2px solid var(--primary-red)
  }

.disabled {
  opacity: 0.8;
}