.Skeleton {
  position: relative;

  border-radius: 10px;
  background-color: rgb(190, 190, 190);

}

.Skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: rgb(190, 190, 190); /* Set the background color for the skeleton */
  z-index: var(--z-index-1);
  animation: skeletonPulse 1.2s infinite alternate; /* Animation effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ensure the skeleton is placed above the content */
}


@keyframes skeletonPulse {
  0% {
    background-color: #e4e1e1; /* Start color */
  }
  50% {
    background-color: #b6b6b6; /* End color */
  }
  100% {
    background-color: #e4e1e1;
  }
}
