.ProfileCardWrapper {
  width: 100%;
}

.avatar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.avatarInput {
  width: 100%;
}

.fieldWrapper {
  display: flex;
  align-items: center;

  span {
    white-space: nowrap;
  }
}

.selectorWrapper {
  white-space: nowrap;
}