.ProfileCardWrapper {
  width: 100%;
}

.avatar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.field {
  color: var(--inverted-primary-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--inverted-primary-color);
  outline: none;
  width: 100%;
  padding: 3px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 1;

  &:read-only {
    opacity: 0.5;
  }
}

.select {
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
  color: var(--inverted-secondary-color);
  max-width: 140px;
  width: 100%;
  outline: none;
  margin-bottom: 10px;
}

.fieldWrapper {
  display: flex;
  align-items: center;

  span {
    white-space: nowrap;
  }
}

.selectorWrapper {
  white-space: nowrap;
}
