.headerFields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.typesWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.types {
  margin-bottom: 20px;
}

.blocks {
  margin-bottom: 20px;
}

.blockWrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}


.block {
  width: 100%;
  margin-bottom: 20px;
}

.field {
  color: var(--text-color);
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  outline: none;
  width: 100%;
  padding: 5px 10px;
}

.textareaField {
  color: var(--text-color);
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  outline: none;
  resize: none;
  width: 100%;
  height: 150px;
  padding: 5px 10px;
}

.error {
  color: var(--error-color);
}

.types {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.type {
  border: 2px solid var(--primary-color);
  padding: 2px 5px;
}

.submitButton {
  margin-top: 20px;
  width: 100%;
}

.checkboxLabel {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkboxBlock {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid var(--secondary-color);
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .checkboxBlock:hover {
    opacity: 0.7;
    border: 1px solid var(--primary-color);
  }
}


.hiddenCheckbox:checked + .checkboxBlock {
  opacity: 1;
  border: 1px solid var(--primary-color);
}
