.UserDropdownProfile {
  cursor: pointer;
  color: var(--inverted-secondary-color) !important;
}

.menuWrapper {
  position: relative;
  display: inline-block;
}

.menuButton {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.menuItems {
  position: absolute;
  right: 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg-color);
  z-index: 111111;

}

.menuItem {
  text-overflow: unset;
}