.copyButtonWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid var(--secondary-color);
}

.codeBlock {
  position: relative;
  overflow: auto;
  padding: 10px;

}

.ArticleCodeComponent {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  border-radius: 10px;
}
