.AddComment {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 5px 10px;
    border: var(--primary-color) 2px solid;
    display: grid;
    grid-template-columns: 10fr 1fr;
    gap: 10px;
}
.contentWrapper {
    display: flex;
    width: 100%;
}

.commentUserAvatar {
    max-width: min-content;
}

.commentContent{
    margin-left: 10px;
    width: 100%;
    
}

.commentInput {
width: 100%;
}

.sendButton {
    display: flex;
    width: min-content;
    justify-content: end;
}