.AddComment {
  margin-bottom: 40px;
  padding: 5px 10px;
  border: var(--inverted-primary-color) 2px solid;
  gap: 10px;
}

.field {
  color: var(--inverted-primary-color);
  background-color: transparent;
  border: 2px solid var(--inverted-primary-color);;
  outline: none;
  width: 95%;
  padding: 5px 10px;
  margin: 0 0 0 10px;
  flex: 1;
}

.contentWrapper {
  display: flex;
}

.labelWrapper {
  display: flex;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: 12fr 1fr;
  width: 100%;
}
